@{
    ViewData["Title"] = "Chart";
}

@section styles
{
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" />
}

<h2>@ViewData["Title"].</h2>

@Html.Raw(ViewData["ResultFromNode"])
